* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: 2px solid black;
  gap: 2px;
  background-color: black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
}

.result {
  margin-top: 5px;
  width: 300px;
  font-size: 1.2rem;
}